.BTW_radio-wrap {
  display: flex;
  flex-wrap: wrap;
}

$radio-item-height: 24px;

.BTW_radio-items input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

.BTW_radio-items {
  display: flex;
  gap: 5px;
  padding: 3px 6px;

  span {
    caret-color: transparent;
  }

  .BTW_radio-label-light {
    height: $radio-item-height;
    color: #000000;
  }

  .BTW_radio-label-dark {
    height: $radio-item-height;
    color: #ffffff;
  }

  .BTW_checkmark-light {
    @extend .BTW_checkmark;
    border: 1px solid var(--dark-background-color);
  }
  input[type='radio']:checked:checked + .BTW_checkmark-light {
    background-color: var(--light-background-color);
  }
  .BTW_checkmark-light:after {
    background: var(--dark-background-color);
  }
  input[type='radio']:checked + .BTW_checkmark-light:after {
    display: block;
  }

  .BTW_checkmark-dark {
    @extend .BTW_checkmark;
    border: 1px solid var(--light-background-color);
  }
  input[type='radio']:checked:checked + .BTW_checkmark-dark {
    background-color: var(--dark-background-color);
  }
  .BTW_checkmark-dark:after {
    background: var(--light-background-color);
  }
  input[type='radio']:checked + .BTW_checkmark-dark:after {
    display: block;
  }
}

.BTW_checkmark {
  display: inline-block;
  position: relative;
  width: $radio-item-height / 2;
  height: $radio-item-height / 2;
  border-radius: 50%;
  margin: auto;

  &:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $radio-item-height / 3;
    height: $radio-item-height / 3;
    border-radius: 50%;
  }
}
