.BTW_text-area {
  resize: none;
  background-color: inherit;
  font-size: 14px;
  padding: 8px;
  min-width: 250px;
  min-height: 100px;
}

.BTW_text-area-light {
  @extend .BTW_text-area;
  color: #000000;
}

.BTW_text-area-dark {
  @extend .BTW_text-area;
  color: #ffffff;
}
