.BTW_list {
  display: flex;
  flex-direction: column;

  .BTW_groupName {
    position: relative;
    padding: 8px 12px 0;
    border-bottom: 1px;
    margin-bottom: 12px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
    }

    &::after {
      bottom: -4px;
    }

    &::before {
      bottom: -2px;
    }
  }
}

.BTW_list-light {
  @extend .BTW_list;
  color: #000000;

  .BTW_groupName::after,
  .BTW_groupName::before {
    background-color: var(--dark-disabled-text-color);
  }
}

.BTW_list-dark {
  @extend .BTW_list;
  color: #ffffff;

  .BTW_groupName::after,
  .BTW_groupName::before {
    background-color: var(--light-disabled-text-color);
  }
}
