$summary-height: 30px;
$summary-margin: 6px;
$icon-position-right: 10px;

.BTW_accordionMenuListWrap {
  width: 100%;
  margin-bottom: -1px;

  &.light,
  &.light button {
    color: #000000;
    background-color: var(--light-background-color);
  }
  &.dark,
  &.dark button {
    color: #ffffff;
    background-color: var(--dark-background-color);
  }

  .BTW_summary {
    position: relative;
    width: 100%;
    margin: 6px 0;
    min-height: $summary-height;
    height: auto;
    border: none;
    z-index: 2;

    .icon {
      position: absolute;
      bottom: calc(50% - $summary-height / 2);
      width: $summary-height * 0.7;
      height: $summary-height;
      transition:
        transform 0.3s ease-out,
        opacity 0.3s ease-out;
    }

    .BTW_plusIcon {
      @extend .icon;
      opacity: 1;

      &.BTW_open-menu {
        transform: rotate(90deg);
        opacity: 0;
      }
    }

    .BTW_minusIcon {
      @extend .icon;
      opacity: 0;
      transform: rotate(-90deg);

      &.BTW_open-menu {
        transform: rotate(0);
        opacity: 1;
      }
    }
  }

  .BTW_summary-right {
    @extend .BTW_summary;
    padding-right: 10px;
    text-align: right;
    padding-left: calc($summary-height * 0.7 + $icon-position-right + $summary-margin);

    .icon {
      left: 10px;
    }
  }

  .BTW_summary-left {
    @extend .BTW_summary;
    padding-left: 10px;
    text-align: left;
    padding-right: calc($summary-height * 0.7 + $icon-position-right + $summary-margin);

    .icon {
      right: 10px;
    }
  }

  .BTW_menu-list-wrap {
    margin: 0;
    list-style: none;
    overflow: hidden;
    padding: 0 10px;

    &.light,
    &.light * {
      color: #000000;
    }

    &.dark,
    &.dark * {
      color: #ffffff;
    }

    .BTW_menuItem {
      line-height: 30px;
      transition: transform 0.3s ease-out;
      margin: 3.9px 0;

      &:hover {
        &.light {
          background-color: var(--light-hover-color);
        }
        &.dark {
          background-color: var(--dark-hover-color);
        }
        transform: translateX(3.9px);
      }

      a {
        text-decoration: none;
        padding: 0 5px;
      }

      .BTW_link {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .BTW_menu-list-wrap-right {
    @extend .BTW_menu-list-wrap;
    text-align: right;
  }

  .BTW_menu-list-wrap-left {
    @extend .BTW_menu-list-wrap;
    text-align: left;
  }
}

.BTW_horizon-light {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  margin: 0;
}

.BTW_horizon-dark {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
  margin: 0;
}
