.ado-layout {
  font-family: 'Noto Serif JP', 'Hiragino Mincho ProN', 'Yu Mincho', 'serif';
  --font-en: 'minion-pro, serif';
  --font-en2: 'interstate-condensed, sans-serif';

  * {
    font-family: inherit;
    caret-color: transparent;
  }
}
