.BTW_basic-button {
  padding: 5px 10px;
  border-radius: 3px;
}

.BTW_basicButton-light {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  @extend .BTW_basic-button;
  &:hover {
    background-color: var(--light-hover-color);
  }
  &:disabled {
    color: var(--light-disabled-text-color);
    background-color: #ffffff;
    border: 2px solid var(--light-disabled-text-color);
  }
}

.BTW_basicButton-dark {
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #ffffff;
  @extend .BTW_basic-button;
  &:hover {
    background-color: var(--dark-hover-color);
  }
  &:disabled {
    color: var(--dark-disabled-text-color);
    background-color: #000000;
    border: 2px solid var(--dark-disabled-text-color);
  }
}
