@mixin text-shadow($shadow-color) {
  text-shadow:
    0.75px 0.75px 0 $shadow-color,
    -0.75px 0.75px 0 $shadow-color,
    0.75px -0.75px 0 $shadow-color,
    -0.75px -0.75px 0 $shadow-color,
    0.75px 0 0 $shadow-color,
    -0.75px 0 0 $shadow-color,
    0 0.75px 0 $shadow-color,
    0 -0.75px 0 $shadow-color;
}

.BTW_outline-light {
  color: var(--light-background-color);
  font-weight: bold;
  position: relative;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    @include text-shadow(var(--shadow-color));
  }
}

.BTW_outline-dark {
  color: var(--dark-background-color);
  font-weight: bold;
  position: relative;

  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    @include text-shadow(var(--shadow-color));
  }
}
